# GitHub token for downloading plugins (optional, but may be required if you have many plugins)
GITHUB_TOKEN=""

# Source port for forwarding [default: 25524]
SOURCEPORT="25564"

# Destination address for forwarding
MCSERVERADDRESS=""

# Destination port for forwarding [default: 25569]
MCSERVERPORT="25569"

# Destinations server's SSH user
SSHUSER=""

# Destinations server's SSH port [default: 22]
SSHPORT=""

# Destinations server's SSH pem file for authentication
PEMFILE=""

# AWS access key ID (https://console.aws.amazon.com/iam/home?region=sa-east-1)
#  IAM Dashboard -> Users -> Your user -> Security credentials -> Access keys
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# AWS Minecraft Server Instance ID (For turning on/off the server)
INSTANCE_ID=""